* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	color: rgb(249, 250, 248);
}

body {
	background: rgb(31, 41, 54);
}

#content-container {
	display: flex;
}

#left-sidebar {
	padding: 1em 1em 0 1em;
}

h1 {
	font-size: 36px;
}

button {
	background: rgb(61, 133, 243);
	padding: .5em;
	border: none;
	border-radius: 1em;
	font-size: 20px;
	font-weight: bold;
}

button:hover {
	color: rgb(109, 116, 125);
	background: rgb(60, 74, 120);
	cursor: pointer;
}

#pop-up {
	visibility: hidden;
	width: 16em;
	padding: 1em 0;
}

#pop-up input {
	color: rgb(31, 41, 54);
}

#grid-container {
	width: 100vh;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#grid-background {
	background: rgb(109, 116, 125);
	display: flex;
	width: 0;
	height: 0;
	flex: 0 0 1;
	flex-wrap: wrap;
}

.grid-square:hover {
	cursor: none;
	background: rgb(31, 41, 54);
}

#right-sidebar {
	padding: 1em 0 0 .5em;
	display: flex;
	flex-direction: column;
}

#pop-up input {
	margin-top: .5em;
	padding: .1em;
	width: 3em;
}

#footer {
	display: flex;
	justify-content: space-between;
	margin-top: -11.5em;
}

.handle {
	width: 10em;
	height: 10em;
	background: rgb(249, 250, 248);
	border-radius: 100%;
	margin: 0 2em 0 2em;
	border: dotted rgb(31, 41, 54) 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner-handle {
	width: 8.5em;
	height: 8.5em;
	background: rgb(109, 116, 125, 15%);
	border-radius: 100%;
}